.Navbar {
    width: 100%;
    position: fixed;
    z-index: 9999;
    box-shadow: 3px 0px 9px 1px rgba(0, 0, 0, 0.114);
    background-color: #fff;
    top: 0;
}
/* 
#box-padding {
    padding-top: 40px;
} */

@media(max-width: 785px) {
    #box-padding {
        padding-top: 60px;
    }
}

.Navbar .Navbar-nav {
    display: flex;
    margin: 0 auto;
    max-width: 1500px;
    justify-content: space-between;
    align-items: center;
}


.Navbar .Navbar-nav ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.Navbar .Navbar-nav a img {
    width: 140px;
    margin-left: 50px;
}

.Navbar .Navbar-nav ul li {
    list-style: none;
    margin-right: 45px;
}

.Navbar .Navbar-nav ul li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.693);
    font-weight: 600;
    background-color: white;
    padding: 10px;
    transition: .3s ease-in-out;
}

.Navbar .Navbar-nav ul li a:hover {
    background-color: #DAC92E;
}

@media(max-width: 785px) {

    .Navbar .Navbar-nav {
        display: block;
    }

    .Navbar .Navbar-nav .flex-logo-btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .Navbar .Navbar-nav a img {
        width: 140px;
        margin-left: 10px;
    }

    .Navbar .Navbar-nav ul {
        display: flex;
        flex-direction: column;
        display: flex;
        align-items: center;
        overflow: hidden; /* Esconde qualquer conteúdo que ultrapasse a altura definida */
        max-height: 0; /* Inicia com altura 0 para criar o efeito de ocultar */
        transition: max-height 0.3s ease; /* Adiciona uma transição suave na altura */
    }

    .Navbar .Navbar-nav ul.visible {
        max-height: 500px; /* Ajuste para a altura máxima desejada */
      }

    .Navbar .Navbar-nav ul li {
        margin: 0;
        width: 100%;
    }

    .Navbar .Navbar-nav ul li a {
        text-align: center;
        width: 100%;
        padding: 15px;
        display: block;
    }

    .Navbar .Navbar-nav .icon-burguer {
        cursor: pointer;
        transition: .3s ease;
    }

    .Navbar .Navbar-nav .icon-burguer:hover {
        transform: scale(1.04);
    }

    .Navbar .Navbar-nav .icon-burguer div {
        width: 37px;
        height: 4px;
        margin: 8px;
        background-color: black;
    }
}