body {
    color: #000000bb;
}

a {
    text-decoration: none;
}

#button-black {
    background-color: black;
    display: flex;
    max-width: 240px;
    padding: 12px;
    justify-content: center;
    color: #fff;
    transition: .3s ease-in-out;
}

#button-black:hover {
    transform: scale(1.03);
}

img {
    width: 100%;
}

h1 {
    text-align: center;
    font-size: 35px;
    margin-top: 230px;
}

@media(max-width: 785px) {
    
h1 {
    text-align: center;
    font-size: 35px;
    margin-top: 85px;
}
}

h2 {
    text-align: center;
    margin: 30px 0;
}

p {
    text-align: center;
    max-width: 1000px;
    display: block;
    margin: auto;
}

.line {
    width: 65px;
    height: 3px;
    background-color: black;
    margin: 15px auto;
    display: block;
}

.Empresa, .Servicos, .Orcamento {
    padding: 5px;
}

footer {
    text-align: center;
    background-color: #DAC92E;
    color: black;
    padding: 15px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 90px;
    /* position: fixed; */
    bottom: 0;
}